---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Technical Proficiency</h2>
		<p>I have acquired extensive knowledge in front-end development using HTML, CSS, JavaScript, and angular, as well as back-end technologies such as Node.js, Express.js and spring boot. I am also well-versed in database management systems like MongoDB.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full-Stack Expertise</h2>
		<p>With a holistic understanding of both front-end and back-end development, I possess the skills to create robust and user-friendly web applications that meet the highest standards of quality and functionality.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Problem-Solving Mindset</h2>
		<p> Through my academic projects and internships, I have developed strong analytical and problem-solving skills. I approach challenges with a proactive and creative mindset, finding innovative solutions to complex problems.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
